div.style-LightGrey
{
  background-color: LightGrey;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
}

div.style-LemonChiffon
{
  background-color: LemonChiffon;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-PowderBlue
{
  background-color: PowderBlue;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-LightCyan
{
  background-color: LightCyan;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-Honeydew
{
  background-color: HoneyDew;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-MistyRose
{
  background-color: MistyRose;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px;
}

div.style-Thistle
{
  background-color: Thistle;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-Cornsilk
{
  background-color: Cornsilk;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-whiteSmoke
{
  background-color: WhiteSmoke;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-PaleTurquoise
{
  background-color: PaleTurquoise;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.style-Yellow
{
  background-color: Yellow;
  margin-top: 0px;
  margin-bottom: 0px;
}
