body  {
    /* background-color: #ccffcc; */
    background-color: #fff0e0;
    font-faily: verdana;
}

h1 {
    color: teal
}

#harold {color: red}

/* Table of Contents */

ol.toc {
    background-color: #ccffcc;
    list-style: none;
    margin-bottom: 20px;
}

ol.toc li {
    background-color: #ccffcc;
    background: url(dot.gif) repeat-x bottom left;
    overflow: hidden;
    padding-bottom: 2px;
}

ol.toc a,
ol.toc span {
    background-color: #ccffcc;
    display: inline-block;
    background: #fff;
    position: relative;
    bottom: -4px;
}

ol.toc span {
    background-color: #ccffcc;
    float: left;
    padding: 0 2px 3px 0;
}

div.toc li.h3 { margin-left: 3.0em; }

/* General */

p { margin-left: 1.5em; }

/* Examples */

table.example {
    background-color: #ffff00;
    text-align: left;
    border: 1px solid black;
    padding: 10px;
}

table.example th {
    color: black;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}

table.example td {
    color: teal;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px 7px 2px 7px;
}

table.example td.heading {
    color: black;
    border: 1px solid black;
    padding: 3px 7px 2px 7px;
}

table.example td.kanji {
    font-size: 1.5em;
}

table.example span {
    color: CC3399;
    font-weight: bold;
}

/*
 * Japanese-English sentences
 * Mark Japanese with class="jp" and English with class="en".
 */
table.sentence {
/*    background-color: #ffff00;*/
    background-color: cyan;
    text-align: left;
    border: 0px solid black;
    padding: 10px;
}

table.sentence tr.jp {
}

table.sentence tr.jp em {
    color: #cc3399;
    color: red;
    font-weight: bold;
}

table.sentence tr.en {
    background-color: white;
}

table.sentence th {
    color: black;
    border: 0px solid black;
    padding: 3px 7px 2px 7px;
}

table.sentence td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 3px 7px 2px 7px;
}

table.sentence td.heading {
    color: black;
    border: 0px solid black;
    padding: 3px 7px 2px 7px;
}


table.sentence span {
    color: CC3399;
    font-weight: bold;
}

